a.toc:after {
  content: " (" target-counter(attr(href, url), page) ")";
}

body {
  font-family: "Droid Serif", serif;
  font-size: 10pt;
  text-align: justify;
  width: 75%;
  margin: auto;
}

.masthead h1.title {
  font-size: 24pt;
  text-align: center;
}

.masthead h2.author {
  font-size: 20pt;
  text-align: center;
}

.masthead {
  page-break-after: always;
}

.article {
  page-break-before: always;
  margin: auto;
}

.article h1.title {
  font-size: 18pt;
  text-align: center;
}
.article h2.number {
  font-size: 16pt;
  text-align: center;
}

.article .contents {
  margin: auto;
  columns: auto 3;
  -moz-columns: auto 3;
  -webkit-columns: auto 3;
}
.article .contents p {
  hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  margin-top: auto;
  text-indent: 24pt;
}
